@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff8400;
    --background-color: #fffaeb;
    --text-color: #130e01;
    --accent-color: #cf4307;
    --secondary-color: #fff5d6;
}

body {
    background-color: var(--background-color);
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.navigation {
    margin-left: 51px;
    margin-right: 51px;
    margin-top: 21px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    width: 1817px;
    height: 66.13px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 39px;
    padding-right: 39px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.nav-left h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.nav-left span {
    color: var(--primary-color);
}

.middle-part {
    position: absolute;
    top: 3.7%;
    left: 50%;
}

.navigation img {
    width: 21px;
    height: 30px;
    filter: drop-shadow(0 0 10px #ff8400);
}

.nav-right {
    display: flex;
    gap: 79px;
}

.nav-right a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    gap: 79px;
    color: var(--text-color);
    font-size: 15px;
}

.header {
    border-radius: 15px;
    margin-left: 51px;
    margin-right: 51px;
    border: 1px solid var(--primary-color);
    width: 1817px;
    height: 1035px;
}

.header-2 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-2 h5 {
    font-family: 'Recoleta', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.header-2 h4 {
    font-family: 'Recoleta', sans-serif;
    font-weight: 700;
    font-size: 198px;
    line-height: 182px;
    word-spacing: -200px;
    float: left;
}

.bottom-left {
    text-align: left;
}

.bottom-right {
    text-align: right;
    margin-bottom: 15px;
}

.header-2 span {
    color: var(--primary-color);
}

.header-2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn {
    width: 196px;
    height: 64px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--primary-color);
    font-family: 'Recoleta', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--background-color);
}

.des-layout {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1280px) {

    body {
        background-color: var(--background-color);
        width: 1280px;
        height: 1080px;
        overflow-y: scroll; /* Chrome */
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
    }
    
    body::-webkit-scrollbar {
        display: none;
    }

    .navigation {
        width: 1177px;
    }

    .header {
        width: 1178.38px;
    }

    .middle-part {
        top: 6%;
    }

    .header-2 {
        top: 70%;
    }

    .des-layout {
        top: 154%;
    }

    .des-layout img {
        width: 954px;
    }

}